name: Build Documentation

on:
  repository_dispatch:
    types: [build-doc]

jobs:
  buildDoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: "20"

      - name: Build Documentation
        run: bash make.sh

      - name: Deploy Documentation
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.documentation_token }}
          BRANCH: gh-pages
          FOLDER: mjml-doc
